<header>
	<div class="header-title mob">
		<div class="burger-menu d-flex justify-content-between" id="burger-menu">
			<a href="/"><img class="logo-wic-mobile" src=" " alt="logo ComptAgency"></a>
			<div id="burger-menu1" class="mob mt-2 mr-2">
				<span></span>
			</div>
		</div>
	</div>

	<nav class="navbar-wic position-relative" id="navbar">
		<a href="/"><img class="logo-wic position-absolute" src=" " alt="logo ComptAgency"></a>
		<ul>

				<li class="bold">
					<a href="{{path('app_login')}}" class="slide-line-grey">Connexion</a>
				</li>
				<li class="bold">
					<a href="{{path('app_register')}}" class="slide-line-grey">Inscription</a>
				</li>
				<li class="bold">
					<a href="#" class="slide-line-grey">Contact</a>
				</li>
				<li class="bold">
					<a href="#" class="slide-line-grey">Vos avis</a>
				</li>

			<div class="button-section"></div>
		</ul>
	</nav>
</header>

{# menu burger #}
<div id="menu1">
	<ul>

			<li class="bold">
				<a href="{{path('app_login')}}" class="slide-line-grey">Connexion</a>
			</li>
			<li class="bold">
				<a href="{{path('app_register')}}" class="slide-line-grey">Inscription</a>
			</li>
			<li class="bold">
				<a href="#" class="slide-line-grey">Contact</a>
			</li>
			<li class="bold">
				<a href="#" class="slide-line-grey">Vos avis</a>
			</li>

		<div class="button-section"></div>
	</ul>
</div>

{# END menu burger #}
