$background: rgb(255, 255, 255);
$primary: #1E77BC;
$secondary: #104166;
$info: #1e3c72;
$text: #4f627e;
$grey-light: #bbc7ff;
$grey-light-opa: #09123abd;
$red: #FF0000;
$text-w: #b6b6b6;
$blue: #336CFB;
$whiteBGfooter: #ecf0ff;