{% extends 'base.html.twig' %}

{% block title %}Validation de la commande
{% endblock %}

{% block body %}

	<div class="bg-gray-400 p-2 table m-auto my-5">
		<div class="table-caption">Je passe ma commande</div>
		<div class="table-header-group">
			<div class="table-cell bg-teal-400">Choisir mon adresse de livraison</div>
			{% set formHtml %}
			{{ form(form) }}
			{% endset %}
			{{ formHtml|replace({'[br]' : '<br/>'})|raw }}
			<div class="table-cell bg-teal-400">Choisir mon transporteur</div>
		</div>
		<div class="table-row-group">
			<div class="table-row">
				<div class="table-cell bg-teal-400">Récap de ma commande</div>
				<div class="table-cell bg-teal-400">Bouton pour payer</div>
			</div>
		</div>
	</div>

{% endblock %}
